
.logoku{
    height: 50px;
    
    
}
.geser{
    margin-left: 30px;
}
.navbar-css{
    background-color: #e65c00;
height: 10vh;
}

.link-white{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.bg-home{
    position: absolute;
    width: 100vw;
    height: 800px;
    background-color:#e65c00;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}
.videonya{
    position: relative;
    
    
    z-index: 1;
    text-align: center;
  
  
  height: 500px;
  
    

    

}
.div-try{
    position: relative;
    text-align: center;
    z-index: 1;
    bottom: 30vh;
 
}
.btn-try{
    width: 40vw;
    height: 10vw;
    font-size: 5rem;
}
